{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>

        body{


            background-color: gray;
        }

</style>

<br> <br>
<body>


    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> LogIn to your account </h3>
        <hr>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form.username | as_crispy_field}}
            
            
            <br>
            
            {{form.password | as_crispy_field}}

            <br>

            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2">&nbsp; LogIn &nbsp; <i class="fa fa-sign-in" aria-hidden="true"></i></button>


        </form>

        <br>

        {{form.non_field_errors}}

        <div class="text-center">
            
            <a href="{% url 'register' %}"> Don't have an account? </a>
        </div>

        <div class="text-center">
            
            <br>
            <a href="{% url 'reset_password' %}"> Forgot password? </a>

        </div>

    </div>

    
</body>

<br> <br>



{% endblock %}